@media only screen and (max-width: 1000px) {
    .form__input{
      width: 15rem;
    }

    .form__button{
        width: 15rem;
    }

    .footer .form__mensaje, .footer .form__input{
      width: 15rem;
  }
  }