html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
.header{
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    background: var(--primario);
    
    transition-property: background;
    transition: ease-in-out .5s;
}

.header__contenedor__img{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.header__contenedor__input{
    flex-grow: 3;
    display: flex;
    align-items: center;
}

.header__contenedor__button{
    flex-grow: 1;
}

.header__input{
    padding: .7rem;
    border: none;
    width: 30rem;
    border-radius: 1rem;
    color: var(--letra);
    background: var(--secundario);
    transition-property: background, color;
    transition: ease-in-out .5s;

}

.header__input:focus{
    outline: solid .15rem var(--azul);
}

.label__search{
    width: 1.2em;
    height: 1.2em;
    position: relative;
    left: -3rem;
}

.svg-icon {
    width: 1.2em;
    height: 1.2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}

.header__button{
    background: transparent;
    border: solid .1rem var(--azul);
    color: var(--azul);
    padding: 1rem 5rem;
    transition: all ease 2s;

}

.header__button:hover{
    background-color: var(--azul);
    color: var(--letrasecundaria);
    cursor: pointer;
    transition: all ease 2s;

}

.svg-icon-tema{
    transform: scale(1.5) rotate(220deg);
}

.no-visible{
    display: none;
}

.header__estilo{
    cursor: pointer;
}

@keyframes changeOut { 
    0%{
        transform: rotate(0deg); 
        opacity: 1;
        
    }
    100% { 
        transform: rotate(360deg);
        opacity: 0; 
    } 
}

@keyframes changeIn{
    0%{
        transform: rotate(220deg);
        opacity: 0;
    }
    100%{
        transform: rotate(360deg);
        opacity: 1;
    }
}