@media only screen 
  and (min-device-width: 1000px) 
  and (max-device-width: 1600px) { 

    .productos__seccion{
      grid-template:
      'seccion seccion boton boton'
      'producto1 producto2 producto3 producto4 '
      'producto5 producto6 producto7 producto8'
      'producto9 producto10 producto11 producto12'
      'producto13 producto14 producto15 producto16'
      'producto17 producto18 producto19 producto20';
    }

    .form__button__viewall{
      grid-area: boton;
   }

    .producto5{
      display: block;
    }
    .producto6{
      display: block;
    }

    
  }