.productos{
    background: var(--primario);
}

.producto{
    transform: scale(1);
    transition: all ease-in-out 1s;
}

.exhibidor__producto__imagen{
    border-radius: .3rem;
}

.producto:hover > .producto__imagen{
    transition: all ease-in-out 1s;
    border-radius: .5rem; 
    box-shadow: 0rem 0rem 1rem .2rem var(--azulclarito);
}

.producto:hover{
    transform: scale(1.1);
    margin: 0rem 1rem;
    transition: all ease-in-out 1s;
}

.producto__nombre,.producto__precio, .productos__seccion__nombre{
    margin: .4rem 0rem;
    color: var(--blanco);
}

.producto__nombre{
    font-weight: normal;
}

.producto__precio{
    font-weight: bold;
}

.productos__seccion{
    padding: 3rem;
}

.productos__seccion{
    display: grid;
    grid-template:
    'seccion . . . . enlace'
    'producto1 producto2 producto3 producto4 producto5 producto6';
    justify-content: center;
    justify-items: stretch;
    gap: 1rem;
}

.producto__imagen{
    width: 15rem;
}

.producto__imagen img{
    width: 100%;
    border-radius: .4rem;
}

.producto1{
    grid-area: producto1;  
}
.producto2{
    grid-area: producto2;
}
.producto3{
    grid-area: producto3;
}
.producto4{
    grid-area: producto4;
}
.producto5{
    grid-area: producto5;
}
.producto6{
    grid-area: producto6;
}
.productos__seccion__nombre{
    grid-area: seccion;
}
.productos__seccion__enlace{
    grid-area: enlace;
    justify-self: end;
}